<%= javascript_include_tag "contents" %>

<!-- The rails way to render the form for text-->
  <%#= form_for(@contents) do |f| %>
  <%#= f.text_area :url, placeholder: "Compose new post..." %>
  <%#= f.submit "Post"%>
  <%# end %>

<p><%= current_user.name  %></p>
<img style="height: 100px; width: 100px;" src=<%= current_user.image %>>

<div id="form_container">

</div>

<h1>Followers</h1>
<% if current_user.followers.any? %>
  <% current_user.followers.each do |follower| %>
  <li><%= follower.name %></li>
  <% end %>
<% end %>

<h1>Following</h1>
<% if current_user.followed_users.any? %>
  <% current_user.followed_users.each do |followed| %>
  <li><%= followed.name %></li>
  <% end %>
<% end %>

<h1>Your Stuff</h1>  
<div id="content_list">
</div>

