<%= javascript_include_tag "contents2" %>

<!-- The rails way to render the form -->
  <%#= form_for(@contents) do |f| %>
  <%#= f.text_area :url, placeholder: "Compose new post..." %>
  <%#= f.submit "Post"%>
  <%# end %>

<p><%= current_user.name  %></p>
<img style="height: 100px; width: 100px;" src=<%= current_user.image %>>

<div id="form_container">

</div>

<h1>Followers</h1>
<% if current_user.followers.any? %>
  <% current_user.followers.each do |follower| %>
  <li><%= follower.name %></li>
  <% end %>
<% end %>

<h1>Following</h1>
<% if current_user.followed_users.any? %>
  <% current_user.followed_users.each do |followed| %>
  <li><%= followed.name %></li>
  <% end %>
<% end %>

<div id="content_list">
  </div>

  <!-- <h1>Posts</h1> -->
<%# if current_user.contents.any? %>
  <!-- <p>Number of Posts:  -->
    <%#= current_user.contents.count  %>
  <!-- </p> -->
  <%# @content.each do |content| %>
    <!-- <li> -->
        <%#= content.url %>
        <%#= content.created_at %>
        <!-- <button>Delete</button> -->
    <!-- </li> -->
  <%# end %>
<%# end %>

